@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP2084- Lab 2</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   

    <div class=" Categories View">
        <h1>Catergories</h1> 

        <div class="Sports">
       <h4> <a href=" /categories/details?category= Food"> Food</a></h4>
        </div> 

        

    </div>

    
    <div class="Tech">
        <h4> <a href=" /categories/details?category= Tech"> Tech</a></h4>
    </div>
        
    

    
    <div class="Food">
        <h4> <a href=" /categories/details?category= Sports"> Sports</a></h4>
    </div>

    </div>




